*{
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(0, 0, 0);
}
body{
    margin: 0;
    width: 200;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: rgb(220, 232, 235);
}
#top{
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}
#top #slogan{
    color: rgb(90, 55, 3);
    font-size: smaller;
    font-style: italic;
}
/*************
主頁面
*************/

/*************
首頁
*************/
ul{
    max-width:75%;
    margin: auto; 
    /* 格式設定 */
    list-style-type: none;
    padding:0%;
    text-align: center;

    /* 排版 */
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;   
}
.picbox img{
    max-width: 100%;
}
.picbox img:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
ul .infocard{
    max-width:80%;
}
.infocard{
    max-width: 100%;
    width:25%;
    font-size: 0.5em;
    display: block;
    margin-bottom: 0.5cm;

    text-align: center;
    padding-bottom: 10px;
}
.infocard img{
    max-width: 100%;
}
.infocard img:hover{
    opacity: 0.5;
    transform: scale(1.1);
}
.infocard h3{
    font-size: 22.5px;
    color: rgb(170, 38, 5);
    text-decoration: none;
}
.infocard img{
    max-width: 120%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    border-bottom: 2px;
}
.infocard p{
    font-size: 2em;
    display: block;
    margin: 0.5em;
}
.ui-content h2{

    font-size: 24px;
    color: rgb(3, 76, 124);
}
.p a{
    color: rgb(0, 85, 243);
}
.ui-content {
   background-color: rgb(220, 232, 235);
}
.ui-content h1 {
    color: rgb(5, 75, 116);
 }
 .ui-content p {
    color: rgb(2, 38, 85);
 }
h2{
    color: rgb(5, 118, 146);
}

/*********
關於我們
*********/
.about  h3{
    font-size: 20px;
    color:  rgb(116, 24, 21);
}
.about img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin:0.5com;
    border-bottom: 2px;
}

.about b{
    font-size:20px;
    color:rgb(36, 3, 144);
}
.about p{
    font-size: 18px;
    display: block;
    margin: 0.5em;
    color: rgba(0, 34, 92, 0.87);
}

/*************
hotpot 
*************/


.hotpot  h3{
    font-size: 25px;
    color:  rgb(116, 24, 21);
}
.hotpot img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin:0.5com;
    border-bottom: 2px;
}

.hotpot b{
    font-size:20px;
    color:rgb(36, 3, 144);
}
.hotpot p{
    font-size: 18px;
    display: block;
    margin: 0.5em;
    color: rgba(0, 34, 92, 0.87);
}

/*************
breakfast 
*************/

.breakfast   h3{
    font-size: 25px;
    color:  rgb(5, 38, 148);
}
.breakfast img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin:0.5com;
    border-bottom: 2px;
}

.breakfast b{
    font-size:20px;
    color:rgb(3, 104, 144);
}
.breakfast p{
    font-size: 18px;
    display: block;
    margin: 0.5em;
    color: rgba(2, 20, 51, 0.87);
}
.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
}
/*************
mainmeal
*************/

.mainmeal h3{
    font-size: 25px;
    color:  rgb(1, 66, 39);
}
.mainmeal img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin:0.5com;
    border-bottom: 2px;
}

.mainmeal b{
    font-size:20px;
    color:rgb(51, 82, 1);
}
.mainmeal p{
    font-size: 18px;
    display: block;
    margin: 0.5em;
    color: rgba(4, 59, 2, 0.87);
}
/*************
cafe
*************/

.cafe h3{
    font-size: 25px;
    color:  rgb(97, 9, 3);
}
.cafe img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin:0.5com;
    border-bottom: 2px;
}

.cafe b{
    font-size:20px;
    color:rgb(144, 48, 3);
}
.cafe p{
    font-size: 18px;
    display: block;
    margin: 0.5em;
    color: rgba(41, 2, 59, 0.87);
}